-# 左側のメニューバー部分
.h_left
  .h_left__contents
    %ul
      %li
        = link_to "マイページ", "/users/show", class: "h_left__contents__link"
      %li
        = link_to "いいね！一覧", "#", class: "h_left__contents__link"
      %li
        = link_to "出品する", "/items/new", class: "h_left__contents__link"
    
  .h_left__text
    設定
  .h_left__contents
    %ul
      %li
        = link_to "支払い方法", confirmation_card_path(1), class: "h_left__contents__link"
        -# confirmation_card_path(1)をconfirmation_card_path(current_user)にすること
      %li
        = link_to "発送元・お届け先住所変更", "/addresses/new", class: "h_left__contents__link"
      %li
        = link_to "メール/パスワード", "#", class: "h_left__contents__link"
      %li
        = link_to "本人情報", "#", class: "h_left__contents__link"
      %li
        = link_to "ログアウト", "/users/logout", class: "h_left__contents__link"