= render "items/items_header"
-# 上記ヘッダー箇所

.m_single-container
  .m_login-no-account
    .m_login-no-account__p  アカウントをお持ちでない方はこちら
    =link_to "新規会員登録", "/users/users_sign_up",class: "m_login"
  -#  FacebookとGoogleでログイン
  .m_login-form-inner
    .m_heder__login-accout__facebook
      -# link_toで再実装必要になりそう
      %input.m_login-btn__facebook{style: "", type: "button", value: "Facebookでログイン"}/
    .m_heder__login-account__google
      -# link_toで再実装必要になりそう
      %input.m_login-btn__google{style: "", type: "button", value: "Googleでログイン"}/


  // FacebookとGoogle以外でログイン
  .m_login-form-inner2
    -# メールアドレス入力箇所
    = form_with model: User.new do |f|
      = f.text_field :email,class: "m_login-input-text__mail",placeholder: "メールアドレス"
    
    -# -# パスワード入力箇所
    = form_with model: User.new do |f|
      = f.text_field :encrypted_password,class: "m_login-input-text__passward",placeholder: "パスワード"
      
    
    -# ロボットではありません
    .m_form-group
    %iframe{frameborder: "0", height: "78", name: "a-roi58y47yv0h", role: "presentation", sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", scrolling: "no", src: "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1QHzzN92WdopzN_oD7bUO2P&size=normal&cb=fcl0ye5zkdlc", width: "304"}

    -# ログイン
    %input.m_google-btn{style: "", type: "button", value: "ログイン"}/
    - if user_signed_in?
      = link_to "新規投稿", new_post_path, class: "m_google-btn"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "m_google-btn"
    - else
      = link_to "ログイン", new_user_session_path, class: "m_google-btn"
      = link_to "新規登録", new_user_registration_path, class: "m_google-btn"
    
    // パスワードお忘れの方
    =link_to 'パスワードをお忘れの方', 'https://www.mercari.com/jp/password/reset/start/',class: "m_forgot-password"

.m_footer
=render "items/items_footer"


