.all
  = render "users/users_header2" 
  .h_main
    = render "users/leftbar"
    .t_left
      .t_credit
        発送・お届け先変更
      .t_credit_area
        .t_names
          .t_names_form
            .t_names_form__group1
              .t_names_member
                .t_names_number
                  お名前
                .t_names_hissu
                  必須
              = form_tag('/items/new',method: :post) do
                %input{type: "input",class: "t_names_input",placeholder: "例)山田"}
              = form_tag('/items/new',method: :post) do
                %input{type: "input",class: "t_names_input",placeholder: "例)彩"}  
            .t_names_form__group2
              .t_names_member
                .t_names_number
                  お名前カナ
                .t_names_hissu
                  必須
              = form_tag('/items/new',method: :post) do
                %input{type: "input",class: "t_names_input",placeholder: "例)ヤマダ"}
              = form_tag('/items/new',method: :post) do
                %input{type: "input",class: "t_names_input",placeholder: "例)アヤ"}   
            .t_names_form__group3
              .t_names_member
                .t_names_number
                  郵便番号
                .t_names_hissu
                  必須
              = form_tag('/items/new',method: :post) do
                %input{type: "input",class: "t_names_input",placeholder: "例)123-456"}
            .t_names_form__group4
              .t_names_member
                .t_names_number
                  都道府県
                .t_names_hissu
                  必須
              = form_tag('/items/new',method: :post) do
                %select(name="example" class="t_delivery_form")
                  %option 選択して下さい
                  %option 北海道
                  %option 青森県
                  %option 岩手県
                  %option 宮城県
                  %option 秋田県
                  %option 山形県
                  %option 福島県
                  %option 茨城県
                  %option 栃木県
                  %option 群馬県
                  %option 埼玉県
                  %option 千葉県
                  %option 東京都
                  %option 神奈川県
                  %option 新潟県
                  %option 富山県
                  %option 石川県
                  %option 福井県
                  %option 山梨県
                  %option 長野県
                  %option 岐阜県
                  %option 静岡県
                  %option 愛知県
                  %option 三重県
                  %option 滋賀県
                  %option 京都府
                  %option 大阪府
                  %option 兵庫県
                  %option 奈良県
                  %option 和歌山県
                  %option 鳥取県
                  %option 島根県
                  %option 岡山県
                  %option 広島県
                  %option 山口県
                  %option 徳島県
                  %option 香川県
                  %option 愛媛県
                  %option 高知県
                  %option 福岡県
                  %option 佐賀県
                  %option 長崎県
                  %option 熊本県
                  %option 大分県
                  %option 宮崎県
                  %option 鹿児島県
                  %option 沖縄県
                  %option 未定       
            .t_names_form__group5
              .t_names_member
                .t_names_number
                  市区町村
                .t_names_hissu
                  必須
              = form_tag('/items/new',method: :post) do
                %input{type: "input",class: "t_names_input",placeholder: "例)123-456"}
            .t_names_form__group6
              .t_names_member
                .t_names_number
                  番地
                .t_names_hissu
                  必須
              = form_tag('/items/new',method: :post) do
                %input{type: "input",class: "t_names_input",placeholder: "例)123-456"}
            .t_names_form__group7
              .t_names_member
                .t_names_number
                  建物名
                .t_names_hissu
                  任意
              = form_tag('/items/new',method: :post) do
                %input{type: "input",class: "t_names_input",placeholder: "例)123-456"}
            .t_names_form__group8
              .t_names_member
                .t_names_number
                  電話
                .t_names_hissu
                  任意
              = form_tag('/items/new',method: :post) do
                %input{type: "input",class: "t_names_input",placeholder: "例)123-456"}
            .t_btn
              = form_tag('/items/new',method: :post) do
                %input{type: "submit", value: "変更する",class: "t_add_bottun" }
            
  = render "items/items_toppage_footer"
