-# マイページの実装
.all
  = render "users_header2" 

  .h_main
    = render "leftbar"

    .h_right
      .h_top
        = image_tag 'orange0024.png', class: 'h_top--size'
        .h_top__icon
          = image_tag 'member_photo_noimage_thumb.png', class: 'h_top__icon--size'
          .h_top__icon__name
            = current_user.nickname
      .h_items
        - current_user.items.each do |item|
          - if item.images[0].present?
            %ul
              %li
                = link_to image_tag(item.images[0].image.url, height: "150", width: "150", class: "h_items_img"), item_path(item.id)
              %li
                = link_to item.nickname, item_path(item.id), {class: "h_items_name"}


  = render "items/items_toppage_footer"

  