-# .i_header
-#   .i_header__inner
-#     .i_header__mainheader
-#       .i_icon
-#       .i_searchbox
-#     .i_menu
-# %nav.i_nav

.i_main
  .i_main__mainscreen
    .i_main__mainscreen__content
      .i_main__mainscreen__content__top
        .i_main__mainscreen__content__top__item
          .i_main__mainscreen__content__top__item__name
            product2
          .i_main__mainscreen__content__top__item__body
            %ul.gazou
              %li.gazou_1
                = image_tag str="/assets/food_spaghetti_carbonara.png" 
                %ul.gazou_mini
                  %li.gazou_mini1
                    = image_tag str="/assets/food_spaghetti_carbonara.png" ,size:"75x75"
                  %li.gazou_mini2
                    = image_tag str="/assets/food_spaghetti_carbonara.png" ,size:"75x75"
                  %li.gazou_mini3
                    = image_tag str="/assets/food_spaghetti_carbonara.png" ,size:"75x75"

          .i_main__mainscreen__content__top__item__price
            %span ¥2000
            .i_main__mainscreen__content__top__item__price-detail
              %span (税込)
              %span 送料込み
          .i_itemDetail
            product2
          -# 以下から表の作成
          .i_table
            %table{:border => "1", :height => "375px", :width => "100%"}
              %tr
                %th 出品者
                %th hhh
              %tr
                %td カテゴリー
                %td koko
              %tr
                %th ブランド
                %td aaaa
              %tr
                %th 商品のサイズ
                %td ssss
              %tr
                %th 商品の状態
                %td b
              %tr
                %th 配送料の負担
                %td ko
              %tr
                %th 配送元の地域
                %td shiga
              %tr
                %th 発送日の目安
                %td 2~3日

          -# 以下からオプションボタン
          .i_option
            %ul
              %li.i_option__btn
                %i.fas.fa-star
                お気に入り０
            %ul.i_option__fav
              %li.i_option__fav__btn
                %a.i_option__fav__btn__link(href="#")
                  %i.fa.fa-flag
                    不適切な商品の通報
          -# 以下からコメントフォーム
        .i_main__mainscreen__content__top__commentBox
          %ul.i_commentContents
            = form_tag('/items/show',method: :post)do
              %textarea(name="commentarea" rows="5" class="i_input_comment_area")
              %p.i_noticeMsg
                相手のことを考え丁寧なコメントコメントを心がけましょう。
                %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %button(name="button" type="submit" class="i_commentBtn")
                %i.fas.fa-comment 
                コメントする
      %ul.i_main__links
        %li
          %a.i_link_left(href="#")
            %i.fa.fa-angle-left
            %span
            前の商品
        %li
          %a.i_link_right(href="#")
            %span
              後の商品
            %i.fa.fa-angle-right
      .i_main__relateditem
        %a.relateditemName(href="#")メンズをもっと見る


%asside.i_app_box
  .i_app_inner
    .i_app_inner__title
    %p.i_app_inner__text
    .i_app_inner__icon

.i_footer
  %ul.i_contents
    .i_content
      %h.i_content_head
      

%a{ :href => '#'}



