.k_head
  .k_head__inner
    .k_head__inner__top
      .k_head__inner__top__logo
        =link_to image_tag("logo.png",class: "k_head__inner__top__logo--size"), root_path
      %input{type: "text-area",placeholder:"キーワードから探す",class: "k_head__inner__top__searchbox"}
      %form{action: "#"}
        %input{type: "submit", name: "submit", value: "", class: "k_head__inner__top__submit"}
      =image_tag "icon-search 1.png",class: "k_head__inner__top__logo2"
    .k_head__inner__bottom
      .k_head__inner__bottom__links
        = link_to "カテゴリー","#", class: "k_head__inner__bottom__links__catBtn"
        = link_to "ブランド","#"
      .k_head__inner__bottom__links

        - if user_signed_in?
          = link_to current_user.nickname,"users/show", class: "k_head__inner__bottom__links"
          = link_to "ログアウト(仮)",destroy_user_session_path, method: "delete"
        - else
          = link_to "ログイン","/users/sign_in"
          = link_to "新規会員登録","/users/signup", class: "k_head__inner__bottom__links__newBtn"

