.h_all
  = render "items_header"
  .h_main
    .h_container
      .h_head
        購入内容の確認
      .h_middle
        .h_middle__box
          .h_middle__box__img
            = image_tag @item.images[0].image.url, class: 'h_middle__box__img'
          .h_middle__box__text
            .h_middle__box__text__goods
              = @item.nickname
            .h_middle__box__text__detail
              .h_middle__box__text__detail__price
              = @item.price
              (税込)　
              .h_middle__box__text__detail__shipping
                送料込み
      .h_foot
        .h_foot__inner
          .h_foot__inner__table
            .h_foot__inner__table__text
              支払金額
            .h_foot__inner__table__price
              ¥
              = @item.price
          .h_foot__inner__point
            %input{type: "checkbox", name: "point", value: "送信", class: "h_foot__inner__point__btn"}
            ポイントを使用 (所持ポイント: P0)
          .h_foot__inner__method 
            支払方法
            -if @card.nil?
              .h_foot__inner__method__form
                = link_to "+登録してください", confirmation_card_path(current_user.id), class: "h_foot__inner__method__form__link"
            -else
              .h_foot__inner__method__pay
                = render "cards/show"
          .h_foot__inner__btn
            %form{action: buy_card_path(@item.id)}
              %input{type: "submit", value: "購入する", class: "h_foot__inner__btn__submit"}

  = render "items_footer"