.all
  = render "users/users_header2"
  .h_main
    = render "users/leftbar"
    .h_right
      .h_right__contents
        %h2.h_right__contents__head 支払い方法
        .h_right__contents__main
          .h_right__contents__main__card
            = link_to edit_card_path(current_user), class: "h_right__contents__main__card__btn", data: {"turbolinks" => false} do
              %i
              = icon('fas', 'credit-card', class: "card__icon")
              クレジットカードを追加する

  = render "items/items_toppage_footer"