.all
  = render "users/users_header2" 
  .h_main
    = render "users/leftbar"
    .main__content
      %section.chapter__container
        %h2.chapter__head クレジットカード情報入力
        = form_tag('/cards', method: :post, action: "create", id: 'charge-form',  name: "inputForm", class: "chapter__container__inner") do
          .form__main__container
            .form__content
              .form__contentgroup
                .form_cards_member
                  %label.payment__card カード番号
                  %span.require__form 必須
                = text_field_tag "number", "", class: "number_input__deafult", placeholder: "半角数字のみ" , type: "text", id: "card_number"
                = image_tag("card-1.gif",class: "icon_card")
              .card__list
                .card__list__picture
                  %label.payment__card 
                    有効期限
                  %span.require__form 
                    必須
                .select__box.top__margin
                  .select__box__half
                    %select.select__default#exp_month{name: "exp_month", type: "text"}
                      %option{value: ""} --
                      %option{value: "1"}01
                      %option{value: "2"}02
                      %option{value: "3"}03
                      %option{value: "4"}04
                      %option{value: "5"}05
                      %option{value: "6"}06
                      %option{value: "7"}07
                      %option{value: "8"}08
                      %option{value: "9"}09
                      %option{value: "10"}10
                      %option{value: "11"}11
                      %option{value: "12"}12
                    -# %i
                    -#   = icon('fas', 'chevron-down')
                    %span.span_month 月
                  .select__box__half
                    -# .icon
                    %select.select__default#exp_year{name: "exp_year", type: "text"}
                      %option{value: ""} --
                      %option{value: "2019"}19
                      %option{value: "2020"}20
                      %option{value: "2021"}21
                      %option{value: "2022"}22
                      %option{value: "2023"}23
                      %option{value: "2024"}24
                      %option{value: "2025"}25
                      %option{value: "2026"}26
                      %option{value: "2027"}27
                      %option{value: "2028"}28
                      %option{value: "2029"}29
                    -# %i
                    -#   = icon('fas', 'chevron-down')
                    %span.span_month 年
              .form__content.top__margin
                .cards_member
                  %label.code セキュリティーコード
                  %span.require__form 必須
                = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"
              .single__code
                = submit_tag "追加する", id: "token_submit", class: "top__margin"
  = render "items/items_toppage_footer"