.all
  = render "users/users_header2"
  .h_main
    = render "users/leftbar"
    .h_right
      .h_right__contents
        %h2.h_right__contents__head 支払い方法
        .h_right__contents__main 
          = render "show"
          = form_tag(delete_cards_path, method: :post, id: 'charge-form', name: "inputForm") do
            %input{ type: "hidden", name: "card_id", value: "" }
              %button.h_right__contents__main__btn 削除する
  = render "items/items_toppage_footer"
